body{
	font-family: 'Roboto', san-serif;
}
.container-fluid{
	margin: 0px;
	padding: 0px; 
}
.header{
	min-height: 100vh;
	margin:0px;
	padding: 0px; 
	background-color: #2A7FB8;
	color:white;
	/*background-color: #fff ;*/
}
/*.nav.navbar-nav li a {
    color: white;
}*/

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: white;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: white; /*BACKGROUND color for active*/
	text-decoration: underline;
	background-color: transparent;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: white;
	text-decoration: none;
	background-color: transparent;  
}

.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background-color: transparent; 
}

.navbar-default .navbar-nav > li > a {
	color: white; /*Change active text color here*/
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: white;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}
.header .header-img img{
	margin-top: 0px;
	margin-bottom: 160px;
}

.header .header-logo{
	max-width: 400px;
	margin-top: 40px;
	margin-bottom: 20px;
	padding:20px;
	border: white 3px solid;
}
.header .header-logo hr{
	margin-top:0px; 
	border:white 1px solid;
}
.header .header-logo .tagline{
	font-size: 17px;
}
.mission .mission-panel{
	background-color: white;
	margin: -150px 0px 50px 0px;
	padding: 20px;
	-webkit-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
}
.mission .mission-panel .mission-textbock{
	padding: 10px;
}
.mission .mission-panel .mission-textbock hr{
	margin-top:10px; 
	border:#1A5076 1px solid;
}
.mission .mission-panel .mission-title{
	font-size: 40px;
	/*color: #2A7FB8;*/
	color: #1A5076;
}
.mission .mission-panel .mission-text{
	font-size: 18px;
	/*color: #2A7FB8;*/
	color: #1A5076;
}
.process .process-block .block1{
	background-image: url("../images/01-01.png");
	background-repeat: no-repeat;
    background-position: left top;
	padding:30px 70px 20px 70px;
	color: #1A5076;
}
.process .process-block .block1 .title{
	font-size: 30px;
}
.process .process-block .block1 .text{
	font-size: 17px;
}
.process .process-block .block1 hr{
	margin-top:10px; 
	border:#1A5076 1px solid;
}

.process .process-block .block2{
	background-image: url("../images/02-01.png");
	background-repeat: no-repeat;
    background-position: right top;
	padding:30px 70px 20px 70px;
	color: #1A5076;
}
.process .process-block .block2 .title{
	font-size: 30px;
}
.process .process-block .block2 .text{
	font-size: 17px;
}
.process .process-block .block2 hr{
	margin-top:10px; 
	border:#1A5076 1px solid;
}

.process .process-block .block3{
	background-image: url("../images/03-01.png");
	background-repeat: no-repeat;
    background-position: left top;
	padding:30px 70px 20px 70px;
	color: #1A5076;
}
.process .process-block .block3 .title{
	font-size: 30px;
}
.process .process-block .block3 .text{
	font-size: 17px;
}
.process .process-block .block3 hr{
	margin-top:10px; 
	border:#1A5076 1px solid;
}

.process .process-block .block4{
	background-image: url("../images/04-01.png");
	background-repeat: no-repeat;
    background-position: right top;
	padding:30px 70px 20px 70px;
	color: #1A5076;
}
.process .process-block .block4 .title{
	font-size: 30px;
}
.process .process-block .block4 .text{
	font-size: 17px;
}
.process .process-block .block4 hr{
	margin-top:10px; 
	border:#1A5076 1px solid;
}

.features .features-block{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #2A7FB8;
	padding: 20px;
	-webkit-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
}
.features .features-block .title{
	text-align: center;
	font-size: 30px;
	color: white; 

}
.features .features-block hr{
	margin-top:10px;
	width: 90%; 
	border:white 1px solid;
}
.features .features-block .text-block{
	margin:8px; 
	padding: 8px;
}
.features .features-block .text-block .text-block-title{
	font-size: 24px;
	color: white;
	text-align: center;
}
.features .features-block .text-block .text-block-text{
	font-size: 12px;
	color: white;
	text-align: center;
}
.world .world-map{ 
	margin-top: 10px;
	color: #1A5076;
	margin-bottom: 50px; 
}

/* carousel */
#quote-carousel {
  	padding: 0 10px 30px 10px;
 	margin-top: 30px;
  	text-align:center;
}
/* indicator position */
#quote-carousel .carousel-indicators {
  	right: 50%;
  	top: auto;
  	bottom: -10px;
  	margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  	background: #BBCDDB;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  	background:  #0071BC;
  	height:10px;
  	width:10px;
  	margin-bottom:1px;
}
/* typography */
#quote-carousel h1 {
  	text-align:center;
  	margin-bottom:-20px !important;
}
#quote-carousel p {
	font-size: 12pt;
  	font-style:italic;
  	margin: 0px 80px 0px 80px; 
}
.footer{ 
	background-color: #333;
	color: #29ABE2;
	padding-bottom: 10px;
}
.footer .title{
	margin-top: 30px;
	color: white;
}
.footer ul {
    list-style:none;
    padding-left:0;
}​
.footer .social ul{
	list-style:none;
    padding-left:0;
}
.footer .social ul li{
	display: inline;
}
.footer .social ul li img{
	max-width: 20px;
}